button {
  cursor: pointer;
  border-width: 1px;
  background-color: transparent;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
  width: 90vw;
}
